{% extends 'base_c.html' %}  {#单独继承一个基模板，主要是为了导航栏显示问题。#}
{% load static %}

{% block title %}
    文章详情_十三哥博客
{% endblock %}

{% block content %}
<!--单独写一个ajax，异步获取url相关的方法，来实现点赞功能-->
<script type="text/javascript">
    function zan() {
        <!--get获取名称为good的url-->
        $.get('/good/{{ art.id }}', function (data) {
            <!--修改#后面标签的相关值-->
            <!--如果结果是正常则执行-->
            if(data.result) {
                $('#diggnum').html(data.result)
            }
            <!--如果结果是另一种则弹窗提示-->
            if(data.result1){
                alert("赞得太快了，休息一会吧！");
            }
        })
    }
</script>
<article>
    <h1 class="t_nav">
        <a href="/">您现在的位置是：首页 > 文章详情 > {{ art.title }}</a>
    </h1>
    <div class="newsview">
        <h3 class="news_title">{{ art.title }}</h3>
        <div class="bloginfo">
        <ul>
            <li class="author"><a href="/">十三哥</a></li>
            <!--所属类别-->
            <li class="lmname"><a href="/">{{ art.category }}</a></li>
            <!--创建时间-->
            <li class="timer">{{ art.create_time }}</li>
            <!--获取art的浏览量并显示-->
            <li class="view">{{ art.views }}</li>
            <!--获取art的点赞数并显示-->
            <li class="like">{{ art.gcount }}</li>
        </ul>
        </div>
        <br>
{#        <div class="news_about"><strong>简介</strong>个人博客，用来做什么？我刚开始就把它当做一个我吐槽心情的地方，也就相当于一个网络记事本，写上一些关于自己生活工作中的小情小事，也会放上一些照片，音乐。每天工作回家后就能访问自己的网站，一边听着音乐，一边写写文章。</div>#}
        <div class="news_con">
            <img alt="" src="/static/{{ art.picture }}"><br>
            <br>
            {{ art.content|safe }}  <!--safe过滤器可以将富文本的样式效果加载出来-->
        </div>
    </div>
    <div class="share">
        <p class="diggit">
            <!--href是为了显示鼠标的手指样式；onclick调用上面的js函数-->
            <a href="javascript:" onclick="zan({{ art.id }});" class="button">赞一下</a>
            <!--显示已赞的数量-->
            (<b id="diggnum">{{ art.good_count }}</b>)
        </p>
    </div>
    <div class="news_pl">
        <h2>文章评论</h2>
        <ul>
        <div class="gbko"> </div>
        </ul>
    </div>
    <!--增加上一篇和下一篇的链接-->
    <div class="nextinfo">
        <p>上一篇：<a href="/content/{{ last.id }}">{{ last.title }}</a></p>
        <p>下一篇：<a href="/content/{{ next.id }}">{{ next.title }}</a></p>
    </div>
</article>
{% endblock %}