{% extends 'base.html' %}
{% load static %}

{% block title %}
    胡言乱语_十三哥博客
{% endblock %}

{% block content %}
    <div class="pagebg sh"></div>
    <div class="container">
        <h1 class="t_nav">
            <a href="/">个人的心情记录和随笔涂鸦之地。兴之所至，也许有几分清明。</a>
        </h1>
        <div class="share">
            <ul>
                {% for art in h_art %}
                    <li>
                        <div class="shareli">
                            <a href="/content/{{ art.id }}" target="_blank">
                                <i><img src="/static/{{ art.picture }}"></i>
                                <h2><b>{{ art.title }}</b></h2>
                                <span>喜欢 | 190</span>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="pagelist">
            <a title="Total record">&nbsp;<b>45</b></a>
            <b>1</b>&nbsp;
            <a href="/download/index_2.html">2</a>&nbsp;
            <a href="/download/index_2.html">下一页</a>&nbsp;
            <a href="/download/index_2.html">尾页</a>
        </div>
    </div>
{% endblock %}