<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="个人博客,十三哥个人博客,十三哥,成都十三哥" />
        <meta name="description" content="十三哥个人博客，十三哥个人原创网站。" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                十三哥个人博客 - 成都的十三哥
            {% endblock %}
        </title>
        {% block extCSS %}
            <link href="{% static 'css/base.css'%}" rel="stylesheet">
            <link href="{% static 'css/index.css' %}" rel="stylesheet">
            <link href="{% static 'css/m.css' %}" rel="stylesheet">
        {% endblock %}
        {% block extJS %}
            <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'js/jquery.easyfader.min.js' %}"></script>
            <script src="{% static 'js/scrollReveal.js' %}"></script>
            <script src="{% static 'js/common.js' %}"></script>
            [if lt IE 9]
            <script src="{% static 'js/modernizr.js' %}"></script>
            [endif]
        {% endblock %}
    </head>
    {% block indexbody %}
    {% endblock %}
    <body>

    {% block content %}
    {% endblock %}

    {% block footer %}
         <p>Design by <a href="http://www.13bro.com" target="_blank">十三哥博客</a> <a href="/">蜀ICP备18020635号</a></p>
    {% endblock %}
    <a href="#" class="cd-top">Top</a>
    </body>
</html>