{% extends 'base.html' %}
{% load static %}

{% block title %}
    胡言乱语_十三哥博客
{% endblock %}

{% block content %}
    <div class="pagebg sh"></div>
    <div class="container">
        <h1 class="t_nav">
            <a href="/">个人的心情记录和随笔涂鸦之地。兴之所至，也许有几分清明。</a>
        </h1>
        <div class="share">
            <ul>
            <!--将文章遍历后取出，挨个显示-->
                {% for art in post_list %}
                    <li>
                        <div class="shareli">
                            <!--注意取id的写法，href表示链接：/路径(url)/数字-->
                            <a href="/content/{{ art.id }}" target="_blank">
                                <i><img src="/static/{{ art.picture }}"></i>
                                <h2><b>{{ art.title }}</b></h2>
                                <!--显示文章的gcount参数-->
                                <span>喜欢 | {{ art.gcount }}</span>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!--分页功能-->
        <div class="pagelist">
            {% if post_list.has_previous %}
                <a href="?page={{ post_list.previous_page_number }}">上一页</a>
            {% endif %}
            <a title="Total record"><b>{{ post_list.number }} / {{ post_list.paginator.num_pages }}</b></a>
            {% if post_list.has_next %}
                <a href="?page={{ post_list.next_page_number }}">下一页</a>&nbsp;
            {% endif %}
            <a href="?page={{ post_list.paginator.num_pages }}">尾页</a>
        </div>
    </div>
{% endblock %}