{% extends 'base.html' %}
{% load static %}

{% block title %}
    关于我_十三哥博客
{% endblock %}

{% block content %}
<div class="pagebg ab"> </div>
<div class="container">
  <h1 class="t_nav">
      <a href="/">你，是我生命中一个重要的过客。因为，你未曾为我停留。</a>
  </h1>
  <div class="news_infos">
    <ul>
      此处安装评论插件
    </ul>
  </div>
  <div class="sidebar">
    <div class="about">
      <p class="avatar"> <img src="{% static 'images/avatar.png' %}" alt=""> </p>
      <p class="abname">Dickens | 十三哥</p>
      <p class="abposition">杂学思想者、Python学习</p>
      <p class="abtext"> 一个并不纯粹的IT从业者！个人爱好涉及文学、历史、哲学、金融、运动、旅行、音乐......什么都懂一点却什么都不精通。近期在进行计算机相关的知识学习以及职业素养和方向的重新规划。 </p>
    </div>
    <div class="weixin">
      <h2 class="hometitle">微信关注</h2>
      <ul>
        <img src="{% static 'images/wx.jpg' %}">
      </ul>
    </div>
  </div>
</div>
{% endblock %}