{% extends 'base.html' %}
{% load static %}

{% block title %}
    日常博客_十三哥博客
{% endblock %}

{% block content %}
    <div class="pagebg sh"></div>
    <div class="container">
        <h1 class="t_nav">
            <a class="color" href="/">同行者众，同道者寡。好朋友虽多，真知己难求。</a>
        </h1>
        <div class="share">
            <ul>
                {% for art in post_list %}
                    <li>
                        <div class="shareli">
                            <a href="/content/{{ art.id }}" target="_blank">
                                <i><img src="/static/{{ art.picture }}"></i>
                                <h2><b>{{ art.title }}</b></h2>
                                <span>喜欢 | {{ art.gcount }}</span>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!--分页-->
        <div class="pagelist">
            {% if post_list.has_previous %}
                <a href="?page={{ post_list.previous_page_number }}">上一页</a>
            {% endif %}
            <a title="Total record"><b>{{ post_list.number }} / {{ post_list.paginator.num_pages }}</b></a>
{#            {% for i in post_list.paginator.page_range %}#}
{#                <a href="?page={{ i }}">{{ i }}</a>&nbsp;#}
{#            {% endfor %}#}
            {% if post_list.has_next %}
                <a href="?page={{ post_list.next_page_number }}">下一页</a>&nbsp;
            {% endif %}
            <a href="?page={{ post_list.paginator.num_pages }}">尾页</a>
{#            <a href="?page="><input type="submits"></a>#}
        </div>
    </div>
{% endblock %}