{% extends 'base.html' %}
{% load static %}

{% block title %}
    时间轴_十三哥博客
{% endblock %}

{% block content %}
    <div class="pagebg timer"> </div>
    <div class="container">
      <h1 class="t_nav">
          <a class="color" href="/">时光飞逝，我们常常记住了该忘记的，却忘记了该记住的......</a>
      </h1>
      <div class="timebox">
          <!--遍历取出文章-->
          {% for art in post_list %}
              <ul id="list">
                  <!--用过滤器date将年月日显示改变-->
                  <li><span>{{ art.pub_time|date:'Y-m-d' }}</span>
                      <!--注意链接的写法匹配url的写法-->
                      <a href="/content/{{ art.id }}"  target="_blank">{{ art.title }}</a>
                  </li>
              </ul>
          {% endfor %}
          <!--分页-->
          <div class="pagelist">
              {% if post_list.has_previous %}
                  <a href="?page={{ post_list.previous_page_number }}">上一页</a>
              {% endif %}
              <a title="Total record"><b>{{ post_list.number }} / {{ post_list.paginator.num_pages }}</b></a>
              {% if post_list.has_next %}
                  <a href="?page={{ post_list.next_page_number }}">下一页</a>&nbsp;
              {% endif %}
              <a href="?page={{ post_list.paginator.num_pages }}">尾页</a>
          </div>
      </div>
    </div>
{% endblock %}