{% extends 'base.html' %}
{% load static %}

{% block title %}
    关于我_十三哥博客
{% endblock %}

{% block content %}
    <div class="pagebg ab"> </div>
    <div class="container">
        <h1 class="t_nav">
            <a class="color" href="/">花开蝶满枝，花落蝶依稀。唯有旧燕巢，主人贫亦归。</a>
        </h1>
        <div class="news_infos">
            <ul>
                <p>十三哥，男，一个成都的中年编程初学者（-_-!）。刚刚入行不到半年，却已在业内瞎混了十来年。看似矛盾的语句，正好反应了我挣扎的学习过程。</p>
                <br>
                <p>我并非计算机专业出身，基础比较薄弱。但还好入行IT业较早，勉强享受了一波行业红利。2000年之后的5~8年，即中国互联网起步的十年内，算是IT行业最后的风光时期。曾经我自诩为‘IT精英’，从事的其实是销售工作。入行的前3年，我的学习劲头不错，喜欢钻研Windows系统、DOS系统，个人电脑的软件安装、硬件组装等，还曾对IOS越狱和APP破解有些研究。渐渐的在工作中如鱼得水，却慢慢失去了进取心和学习能力。正好移动互联网也在起势，我逐渐转变成了一个游戏达人，荒废了专业领域的学习，也算是挥霍了一些青春。</p>
                <br>
                <p>曾经的IT行业很风光，可而今已被互联网行业取代。我销售过的产品从优盘鼠标内存等各种配件，到外设、个人电脑数以千计；再到服务器、小型机等中高端硬件产品及硬件服务；加上数据库如Oracle、SqlServer等，虚拟化软件、人工技术服务、产品开发外包等软件产品及服务；甚至系统集成、综合布线、弱电安防等也有涉猎……我几乎什么IT产品都卖过，总销售额近亿，可那又有什么用？我并不知道计算机真正的运行方式，也不知道服务器和存储设备怎么使用，更不清楚数据库到底用来干什么….. 我想要成为一个优秀的职业经理人，或是一个有责任的创始人。但近年来，我进行的项目多以失败告终。守业不易创业更难，种种挫折之后才发现，无论是职业经理人和创业创新，我的能力完全连合格都算不上。多年的工作经验显得那么苍白无力，因此学习才是唯一提升自己的途径。</p>
                <br>
                <p>经过近半年的学习，我的感觉是很痛苦的。既定的思维模式、薄弱的基础知识、分散的个人精力……家庭、健康、生活等都成为了我专心学习的羁绊。总是有各种事由来分散我为数不多的学习时间和注意力，结果当然是学得并不怎么顺利。但学海无涯只能以苦作舟，痛苦就对了，说明我一直以来太过于安逸。无论如何不能让自己再继续呆在舒适区，我期望这次的脱产学习能让自己开一点窍。通过学习，不仅能弥补一些自身的弱点，还可以铺垫好自我学习进步的方式，以及能够领悟正确的学习方法。仅此而已，希望能够如愿。</p>
                <br>
                <p>人生苦短，我用Python。</p>
                <br>
                <hr>
                <h2>About my blog</h2>
                <br>
                <p>● 域 名：www.13bro.com 创建于2018年08月3日</p>
                <p>● 相关技术和工具：Python-Django、MySQL、PyCharm、Navicat、Xshell</p>
                <p>● 本网站代码版本控制：<a href="https://github.com/dickens13/Django-blog">十三哥的GitHub</a></p>
                <p>● 特别鸣谢：<a href="https://www.yangqq.com/">杨青的博客</a>&nbsp;&nbsp;<a href="http://www.mobiletrain.org/">千锋教育</a>&nbsp;&nbsp;<a href="https://www.aliyun.com/">阿里云</a></p>
            </ul>
        </div>
        <div class="sidebar">
            <div class="about">
                <p class="avatar"> <img src="{% static 'images/avatar.png' %}" alt=""> </p>
                <p class="abname">Dickens | 十三哥</p>
                <p class="abposition">杂学思想者、Python学习</p>
                <p class="abtext"> 一个并不纯粹的IT从业者！个人爱好涉及文学、历史、哲学、神学、金融、运动、旅行、音乐......什么都懂一点却什么都不精通。近期在进行计算机相关的知识学习以及职业方向的重新规划。 </p>
                <hr>
                <p class="abtext">我希望活得精彩.我希望能看到令我惊叹的事物;我希望体会从未有过的感觉;我希望遇见各种多姿多彩的人;我希望一生能让自己过得自豪.如果发现生活并非如此,我希望能有勇气重新来过!</p>
            </div>
            <div class="weixin">
                <h2 class="hometitle">微信关注</h2>
                <ul>
                    <img src="{% static 'images/wx.jpg' %}" alt="">
                </ul>
            </div>
        </div>
    </div>
{% endblock %}