{% extends 'base.html' %}
{% load static %}

{% block title %}
    首页_十三哥博客
{% endblock %}

{% block content %}
<article>
<h1 class="t_nav">
 <a class="color" href="/">
     我想我飞起时，天也要让路；我入海时，水也要分两边。天下再无可管我之人，再无可拘我之物；再无我成不了之事，再无我到不了之处。
 </a>
</h1>
<!--banner begin-->
<div class="picsbox">
    <div class="banner">
        <div id="banner" class="fader">
            <!--遍历后挨个取出-->
            {% for art in b_art %}
                <!--banner显示小于15个-->
                {% if forloop.counter < 15 %}
                    <li class="slide" >
                        <a href="/content/{{ art.id }}" target="_blank">
                        <img src="/static/{{ art.picture }}">
                        <span class="imginfo">{{ art.title }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            <div class="fader_controls">
                <div class="page prev" data-target="prev">&lsaquo;</div>
                <div class="page next" data-target="next">&rsaquo;</div>
                <ul class="pager_list"></ul>
            </div>
        </div>
    </div>
    <div class="toppic">
        <li>
            <!--通过下标id取出相关文章的参数-->
            <a href="/content/{{ h_art.0.id }}" target="_blank">
                <i><img src="/static/{{ h_art.0.picture }}"></i>
                <h2>{{ h_art.0.title }}</h2>
                <span>胡言乱语</span>
            </a>
        </li>
        <li>
            <!--通过下标id取出相关文章的参数-->
            <a href="/content/{{ j_art.0.id }}" target="_blank">
                <i><img src="/static/{{ j_art.0.picture }}"></i>
                <h2>{{ j_art.0.title }}</h2>
                <span>见贤思齐</span>
            </a>
        </li>
    </div>
</div>
<!--banner end-->
</article>
<br>
{% endblock %}